body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: no-common-ligatures;

  @include media-breakpoint-down(xl) {
    font-size: 90%;
  }
  @include media-breakpoint-down(lg) {
    font-size: 80%;
  }
}

html,
body,
:focus {
  outline: 0;
}

.app-page {
  display: block;
  width: 100%;
  overflow: hidden;
}

.app-main {
  display: block;
  width: 100%;
}
