::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-thumb:vertical {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

::-webkit-scrollbar-track:vertical {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="19" height="99.9%" rx="3.5" fill="#F8F8F8" stroke="#C8B5CF"/></svg>')
  );
}

::-webkit-scrollbar-thumb:vertical {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><rect x=".5" y=".5" width="19" height="100%" rx="3.5" fill="#6B61B1" fill-opacity=".5" stroke="#C8B5CF"/></svg>')
  );
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
  border: 1px solid $secondary-lighter;
  border-radius: 4px;
}

::-webkit-scrollbar-track:horizontal {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(107, 97, 177, 0.5);
}
