.custom-dialog-class {
  width: 100%;
  position: relative;

  @include media-breakpoint-down(xl) {
    width: 350px;
  }

  @include media-breakpoint-down(lg) {
    width: 300px;
  }
}

.custom-modal-wrapper {
  padding: 0 1rem;
  text-align: center;
}

.custom-close-button {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;

  @include media-breakpoint-down(xl) {
    top: 8px;
    right: 8px;
  }

  @include media-breakpoint-down(lg) {
    top: 6px;
    right: 6px;
  }
}

.custom-modal-title {
  color: #4a427d;
  font-size: 26px;
  margin: 0.5rem 0;

  @include media-breakpoint-down(xl) {
    font-size: 22px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}

.custom-form-message {
  color: #6a6a6a;
  font-size: 16px;
  margin: 1rem 0;

  &.sm {
    font-size: 15px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

.custom-modal-form {
  margin: 20px 0 0 0;
}

.custom-modal-question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.custom-modal-button {
  width: 75%;
  margin: 0 auto;

  &.mt-1 {
    margin-top: 1rem;
  }
}
