.profile {
  h4 {
    margin-top: 1rem;
  }

  h4:first-of-type {
    margin-top: 1.5rem;
  }

  hr {
    margin: 0.5rem 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-item {
  width: 19%;

  &:not(.btn) button {
    box-shadow: none;
  }

  @include media-breakpoint-down(xl) {
    &:not(.btn) button {
      padding: 2px 8px;
    }

    img {
      height: 18px;
    }
  }
}

$hr-color-h2: $secondary-lighter;
$hr-color-h3: $secondary-lightest;

:export {
  hr-color-h2: $hr-color-h2;
  hr-color-h3: $hr-color-h3;
}
