.toggle-type-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border: 1px solid #d0d0d0;
  border-radius: 15px;
  box-shadow: $box-shadow;
  opacity: 1;

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-image: linear-gradient(90deg, $primary 0%, $gr-primary 100%);
    border-radius: 13px;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
  }

  &._50 {
    &:before {
      width: calc(50% - 3px);
    }
  }

  &._33 {
    &:before {
      width: calc(33.33% - 2px);
    }
  }

  &._oneMonth,
  &._organizers {
    &:before {
      transform: translateX(0);
    }
  }

  &._threeMonth,
  &._participants {
    &:before {
      transform: translateX(100%);
    }
  }

  &._oneYear {
    &:before {
      transform: translateX(200%);
    }
  }

  button {
    flex: 1 1 50%;
    font-size: 14px;
    color: #525252;
    margin: 0 0.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &._active {
      color: $white;
    }
  }
}
