@mixin icon-docx($fill) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="18" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.984 7h5.532L9.984 1.516V7zm3 5.016V10H5.016v2.016h7.968zm0 3.984v-2.016H5.016V16h7.968zM11.016.016l6 6v12c0 .53-.203 1-.61 1.406a2.011 2.011 0 01-1.406.562H3c-.531 0-1-.187-1.406-.562-.407-.406-.61-.875-.61-1.406l.047-16.032c0-.53.188-.984.563-1.359C2 .219 2.469.015 3 .015h8.016z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 18px;
  height: 20px;
}
