@mixin icon-download($fill) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="12" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.82 5.32L6 11.18.18 5.32H3.5v-5h5v5h3.32zm0 8.36H.18V12h11.64v1.68z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 12px;
  height: 14px;
}
