@mixin icon-plus() {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="11" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.767 10.406a.48.48 0 01-.324-.126.48.48 0 01-.126-.324V6.662H1.113a.502.502 0 01-.342-.126.439.439 0 01-.126-.324V4.898c0-.132.042-.24.126-.324a.467.467 0 01.342-.144h3.204V1.244c0-.132.042-.24.126-.324a.48.48 0 01.324-.126h1.476c.132 0 .24.042.324.126a.439.439 0 01.126.324V4.43H9.88a.41.41 0 01.324.144.439.439 0 01.126.324v1.314c0 .132-.042.24-.126.324a.439.439 0 01-.324.126H6.693v3.294a.48.48 0 01-.126.324.439.439 0 01-.324.126H4.767z" fill="#fff"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 11px;
  height: 11px;
}
