@mixin icon-search($fill) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="23" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.375 14.5h-.988l-.35-.338A8.089 8.089 0 0017 8.875 8.125 8.125 0 008.875.75 8.125 8.125 0 00.75 8.875 8.125 8.125 0 008.875 17a8.089 8.089 0 005.287-1.963l.338.35v.988l6.25 6.238 1.863-1.863-6.238-6.25zm-7.5 0A5.617 5.617 0 013.25 8.875 5.617 5.617 0 018.875 3.25 5.617 5.617 0 0114.5 8.875 5.617 5.617 0 018.875 14.5z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;
}

.icon-search {
  @include icon-search(#8079ad);

  width: 24px;
  height: 24px;

  @include media-breakpoint-down(xl) {
    width: 22px;
    height: 22px;
  }

  @include media-breakpoint-down(lg) {
    width: 18px;
    height: 18px;
  }

  .link:hover &,
  .link.active & {
    @include icon-search(#ffdbba);
  }
}
