@mixin icon-trash($fill) {
  background-image: escape-svg(
    url('data:image/svg+xml;utf8,<svg width="12" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.82 1.32V3H.18V1.32h2.89L3.93.5h4.14l.86.82h2.89zM1 13.82v-10h10v10c0 .443-.17.834-.508 1.172-.338.339-.729.508-1.172.508H2.68c-.443 0-.834-.17-1.172-.508C1.169 14.654 1 14.263 1 13.82z" fill="#{$fill}"/></svg>')
  );
  background-size: 100% 100%;

  display: block;
  width: 12px;
  height: 16px;
}
