// .jodit_theme_summer .jodit-wysiwyg {

// }
.jodit_theme_kd {
  ::-webkit-scrollbar {
    width: initial;
    height: initial;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    background: initial;
    border: initial;
    border-radius: initial;
  }
}
.jodit_theme_kd .jodit-toolbar__box svg {
  fill: #545454;
}
